[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
drf-yasg = "==1.21.4"
python-decouple = "==3.7"
djangorestframework = "~=3.12"
django = "==4.1.*"
pillow = "==9.4.0"
django-cors-headers = "==3.13.0"
django-service-objects = "==0.7.*"
django-allauth = "*"
dj-rest-auth = "*"
django-ckeditor = "*"
pre-commit = "*"

[dev-packages]

[requires]
python_version = "3.9"
