[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
drf-yasg = "*"
python-decouple = "*"
djangorestframework = "~=3.12"
django = ">=2.2"
pillow = "*"
django-cors-headers = "*"
django-service-objects = "*"

[dev-packages]

[requires]
python_version = "3.9"
